<ion-header>
    <ion-navbar color="primary">
        <ion-title><span [innerHTML]="pageTitle"></span></ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-searchbar animated=true color="primary" (ionInput)="searchPost($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-spinner id="init-spinner" *ngIf="onProgress"></ion-spinner>
    <ion-grid *ngIf="posts">
        <ion-row col-md-10 offset-md-1>
            <ion-col class="post-item" col-12 col-md-6 *ngFor="let item of posts" (click)="goToPost(item.id, item.media_url)">
                <ion-row>
                    <ion-col square class="post-thumbnail" col-4>
                        <img-loader *ngIf="item.media_url" (load)="onImageLoad($event)" [src]="item.media_url.sizes.featured_thumbnail.source_url" useImg></img-loader>
                    </ion-col>
                    <ion-col *ngIf="item.title" col-8>
                        <p class="post-category" [innerHTML]="item.category_name"></p>
                        <p class="post-title" [innerHTML]="item.title.rendered"></p>
                        <p class="post-date">{{item.date | date}}</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>