<div class="gradient-overlay"></div>
<ion-slides class="featured-media" *ngIf="!onProgress" loop="true" pager="true" paginationType="progress" parallax="true">
    <ion-slide *ngFor="let item of posts | slice:start:end" (click)="postNav(item.id, item.better_featured_image)">
        <img-loader *ngIf="item.better_featured_image" [src]="item.better_featured_image.media_details.sizes.medium.source_url"></img-loader>
        <div class="post-header">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class="text-category" *ngIf="item.pure_taxonomies.categories" [innerHTML]="item.pure_taxonomies.categories[0].name" ion-text color="dark"></span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h1 *ngIf="item.title" ion-text [innerHTML]="item.title.rendered" color="light"></h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button outline color="light" round block small>
                        {{item._embedded.author[0].name}}
                        </button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button clear block small color="light" *ngIf="item.date">{{item.date | amCalendar: { sameDay: '[Today]', lastDay: '[Yesterday]', lastWeek: '[last] dddd',  sameElse: 'MMMM DD, YYYY'} }}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>
</ion-slides>