page-register {
    ion-item {
        background: transparent !important;
        &.item-input:last-child {
            border: none !important
        }
    }
    button[outline] {
        border: none !important;
    }
}