header-transparent {
    .header-md.transparent::after,
    .header-ios.transparent::after {
        background: transparent;
        background-image: none
    }
    ion-header {
        background: transparent !important;
    }
    .toolbar-background.toolbar-background-md,
    .toolbar-background.toolbar-background-ios,
    .toolbar-background.toolbar-background-wp {
        background: transparent;
        border: none;
    }
    .show-header {
        transition: background 0.5s ease;
        background: color($colors, primary, base) !important;
    }
    .hide-header {
        transition: background 0.5s ease;
        background: transparent !important;
    }
}