page-home {
    ion-content {
        background-color: #eee !important;
    }
    .search-bar-overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.8;
        z-index: 10;
    }
}