.aeon-bg-page {
    background: url('../assets/img/login_bg.jpeg') center center no-repeat;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #10aacc, #aa4225);
        opacity: .5;
    }
}

.aeon-input-item {
    background: transparent !important;
    &.item-input:last-child {
        border: none !important
    }
    ion-label {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    ion-input {
        input {
            background-color: transparent !important;
        }
    }
}

.aeon-img-placeholder {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #1f5acc, #bb4225);
        opacity: .5;
    }
}

.aeon-header-img {
    background-position: center;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-size: cover !important;
    border: none !important;
    -webkit-filter: brightness(50%);
}

ion-title {
    text-transform: uppercase !important;
    font-weight: bold;
}

ion-content[header-overlay] {
    .scroll-content {
        padding-top: 80px !important;
    }
}