// Grid List Component
$grid-list-margin: 0px;
$grid-list-radius: 0px;
$grid-list-category-font-size: 0.9rem;
$grid-list-category-spacing: 2px;
$grid-list-title-font-size: 1em;
$grid-list-date-font-size: 0.8em;
// Card List Component
$card-list-height: 100px;
$card-list-content-padding: 5px 13px;
$card-list-image-height: 100px;
$card-list-image-height-md: 200px;
$card-list-title-font-size: 1.2rem;
$card-list-title-font-size-md: 1.5rem;
$card-list-date-font-size: 1.2rem;
$card-list-date-margin: 10px 18px;
// Card List Component
$big-card-list-radius: 4px;
$big-card-list-height: 100px;
$big-card-list-content-padding: 5px 13px;
$big-card-list-image-height: 200px;
$big-card-list-image-height-md: 200px;
$big-card-list-title-font-size: 1.4rem;
$big-card-list-title-font-size-md: 1.5rem;
$big-card-list-date-font-size: 1.2rem;
$big-card-list-date-margin: 3px 18px;
// Header Slides Component
$header-slides-height: 300px;
$header-slides-subheader: 14px;