// Grid List Component
$grid-list-margin: 0px;
$grid-list-radius: 0px;
$grid-list-category-font-size: 0.9rem;
$grid-list-category-spacing: 2px;
$grid-list-title-font-size: 1em;
$grid-list-date-font-size: 1em;
// Card List Component
$card-list-height: 100px;
$card-list-content-padding: 5px 13px;
$card-list-image-height: 100px;
$card-list-image-height-md: 200px;
$card-list-title-font-size: 1.2rem;
$card-list-title-font-size-md: 1.5rem;
$card-list-date-font-size: 1.2rem;
$card-list-date-margin: 10px 18px;