<ion-menu [content]="content">
    <ion-content>
        <div class="header-container">
            <div class="header-bg"></div>
            <div class="header-content">
                <ion-grid>
                    <ion-row *ngIf="!isAuth">
                        <ion-col col-6>
                            <button menuClose ion-button block round outline color="light" (click)="nav.push('LoginPage')">Login</button>
                        </ion-col>
                        <ion-col col-6>
                            <button menuClose ion-button block round outline color="light" (click)="nav.push('RegisterPage')">Register</button>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="isAuth">
                        <ion-col col-6>
                            <button menuClose ion-button block round outline color="light" (click)="logout()">Log Out</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>