// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('../assets/fonts/Raleway-Bold.ttf');
    font-weight: bold;
}

//Lora Fonts
@font-face {
    font-family: 'lora';
    src: url('../assets/fonts/Lora/Lora-Regular.ttf');
}

@font-face {
    font-family: 'lora';
    src: url('../assets/fonts/Lora/Lora-Bold.ttf');
    font-weight: bold;
}

ion-menu {
    padding-top: 48px;
    div.header-container {
        padding: 80px 16px;
        position: relative;
        top: -16px;
        left: -16px;
        width: calc(100% + 32px);
        height: 250px;
        text-align: center;
        div.header-bg {
            background-image: url('../assets/img/header-menu-bg.jpeg');
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            -webkit-filter: brightness(50%);
        }
        div.header-content {
            position: absolute;
            top: 0;
            left: 16px;
            height: 100%;
            width: calc(100% - 32px);
            img.author-thumbnail {
                height: 100px;
                width: 100px;
                background-color: #fff;
                border-radius: 50px;
            }
            ion-grid {
                position: absolute;
                bottom: 0px;
            }
        }
    }
    ion-list {
        button {
            font-size: 1rem !important;
            font-weight: 700 !important;
            text-transform: uppercase !important;
            letter-spacing: 3px;
        }
    }
}