card-list {
    ion-card {
        position: relative;
        width: 100% !important;
        margin: 0px !important;
        background: #fff;
        border-radius: 1px !important;
        opacity: 0;
        &.fade-in {
            opacity: 1;
            transition: all 1.0s ease;
        }
        img {
            object-fit: cover;
            height: 100px;
            @media only screen and (min-width: 768px) {
                height: 200px;
            }
        }
        span.post-category {
            position: absolute;
            width: 100%;
            top: 0;
            margin: 0;
            padding: 10px;
            background: linear-gradient(to top, transparent, #444) !important;
            white-space: pre-line;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 700;
            letter-spacing: 3px;
        }
        ion-card-content {
            height: 100px;
            padding: 5px 13px !important;
            ion-card-title {
                font-weight: 700;
                font-size: 1.2rem !important;
                @media only screen and (min-width: 768px) {
                    font-size: 1.5rem !important;
                }
            }
            p {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 10px 18px;
                text-align: right;
                font-size: 1.2rem !important;
            }
        }
    }
}