header-slides {
    ion-slides.featured-media {
        .slide-zoom {
            text-align: initial;
        }
        .swiper-pagination-progress {
            top: initial;
            bottom: 0 !important;
        }
        position: relative;
        top: -16px;
        left: -16px;
        width: calc(100% + 32px);
        height: $header-slides-height;
        background-color: gray;
        div.post-header {
            position: absolute;
            bottom: 0;
            margin: 16px;
            @media only screen and (min-width: 768px) {
                left: 25%;
                width: 50%;
            }
            h1 {
                text-transform: uppercase;
            }
            span {
                text-align: right;
                font-weight: 300;
                font-size: $header-slides-subheader;
            }
        }
        img-loader {
            background-position: center;
            background-repeat: no-repeat !important;
            background-position-x: center !important;
            background-size: cover !important;
            height: $header-slides-height !important;
            border: none !important;
            -webkit-filter: brightness(50%);
        }
    }
}