page-post-tab {
    ion-spinner#init-spinner {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

page-posts-tab,
page-categories-tab,
page-tags-tab {
    ion-navbar.show-back-button .back-button {
        display: inline-block;
    }
}