page-post-content {
    .header-md.transparent::after,
    .header-ios.transparent::after {
        background-image: none
    }
    .toolbar-background.toolbar-background-md {
        background: transparent;
        border: none;
    }
    .hide-header {
        .toolbar-background.toolbar-background-md {
            transition: background 0.5s ease;
            background: color($colors, primary, base);
        }
    }
    .show-header {
        .toolbar-background.toolbar-background-md {
            transition: background 0.5s ease;
            background: transparent;
        }
    }
    .scroll-content {
        margin-top: 0px !important;
    }
    .featured-media {
        position: relative;
        top: -16px;
        left: -16px;
        width: calc(100% + 32px);
        height: 300px;
        div {
            position: absolute;
            bottom: 0;
            margin: 16px;
            @media only screen and (min-width: 768px) {
                left: 25%;
                width: 50%;
            }
            h1 {
                // text-align: right;
                text-transform: uppercase;
                // font-weight: 700;
            }
            span {
                text-align: right;
                // text-transform: uppercase;
                font-weight: 300;
                &.post-category {
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-weight: 700;
                    text-align: right
                }
            }
        }
        img-loader {
            background-position: center;
            background-repeat: no-repeat !important;
            background-position-x: center !important;
            background-size: cover !important;
            height: 300px;
            border: none !important;
            -webkit-filter: brightness(50%);
        }
    }
    .content-container {
        line-height: 1.8;
        pointer-events: none;
        font-size: 11pt;
        @media only screen and (min-width: 768px) {
            left: 25%;
            width: 50%;
        }
        h1,
        h2,
        h3 {
            font-weight: bold;
            padding-top: 20px;
        }
        img {
            width: 100%;
            height: auto,
        }
        a {
            pointer-events: none;
            text-decoration: none;
            color: #222;
        }
    }
}