page-category-list {
   $grid-columns: 6;
   $grid-padding-width: 3px;
   ion-card{
      position: relative;
      height: 160px;
      width: 100% !important;
      margin: 0px !important;
      text-align: center;
      
      margin: 0px !important;
      // width: 100% !important;
      height: width;
      .category-button{
         position: absolute;
         top: 30%;
         width: 100%;
         .category-title{
            font-weight: bold;
            margin: 5px;
         }
      }
   }
}
