modal-comment {
    .no-item {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        align-items: center;
        ion-icon {
            font-size: 150px;
        }
        p {
            font-weight: 700;
        }
    }
    ion-item {
        ion-col.comment-img {
            text-align: center;
            img {
                position: relative;
                border-radius: 24px;
            }
        }
        p {
            white-space: normal;
            line-height: 20px !important;
            &.comment-author {
                font-weight: 700;
            }
            &.comment-content {
                font-size: 1.2rem !important;
                border: 1px solid color($colors, primary, base);
                padding: 12px;
                margin: 0px 10px;
                border-radius: 10px;
                border-top-left-radius: 0px;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 39px;
                    width: 0;
                    height: 0;
                    border: 16px solid transparent;
                    border-right-color: color($colors, primary, base);
                    border-left: 0;
                    border-top: 0;
                    margin-top: -12px;
                    margin-left: 0px;
                }
            }
            &.comment-date {
                font-size: 1rem;
                text-align: right;
            }
        }
    }
}